h1{
    text-align: center;
    text-decoration: solid ;
    text-shadow: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
body{
    background-color: black;
    color:white ;
}
body{
    border: 20px solid rgb(191, 27, 212);
    margin: 20px;
    padding: 200px;
}
p{
    font-style: italic;
}
